<div class="side-bar_top">
  <div class="side_name">
    <a href="#">Tom</a>
  </div>
  <div class="side_create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar_under">
  <div class="side_room">
    <div class="side_room_name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="side_room">
    <div class="side_room_name">
     <a href="#">techroom2</a>
    </div>
  </div>
</div>